USE [master]
GO
/****** Object:  Database [VendingDB]    Script Date: 21.04.2026 21:51:46 ******/
CREATE DATABASE [VendingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VendingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMachineRevenue]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetMachineRevenue](@MachineID INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Revenue DECIMAL(10,2);
    -- Проверка: автомат не должен быть удален
    IF EXISTS (SELECT 1 FROM VendingMachines WHERE MachineID = @MachineID AND IsDeleted = 0)
    BEGIN
        SELECT @Revenue = SUM(SalePrice) FROM Sales WHERE MachineID = @MachineID;
    END
    RETURN ISNULL(@Revenue, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_NeedsRestock]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_NeedsRestock](@MachineID INT, @ProductID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Qty INT, @Min INT;
    -- Проверка: автомат не должен быть удален
    SELECT @Qty = MS.Quantity, @Min = MS.MinLevel 
    FROM MachineStock MS
    JOIN VendingMachines VM ON MS.MachineID = VM.MachineID
    WHERE MS.MachineID = @MachineID AND MS.ProductID = @ProductID AND VM.IsDeleted = 0;
    
    IF @Qty IS NULL RETURN 0;
    IF @Qty < @Min RETURN 1;
    RETURN 0;
END
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[MachineID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[LocationID] [int] NULL,
	[InstallDate] [date] NULL,
	[StatusID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__VendingM__44EE5B58383327A8] PRIMARY KEY CLUSTERED 
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[Barcode] [int] NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6EDDA761364] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [int] NULL,
	[ProductID] [int] NULL,
	[SaleDate] [datetime] NULL,
	[SalePrice] [decimal](10, 2) NOT NULL,
	[MethodID] [int] NOT NULL,
 CONSTRAINT [PK__Sales__1EE3C41F9D2F3164] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictPaymentMethods]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictPaymentMethods](
	[MethodID] [int] NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMachineSalesHistory]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMachineSalesHistory](@MachineID INT)
RETURNS TABLE
AS
RETURN (
    SELECT 
        S.SaleID,
        S.SaleDate,
        P.Name AS ProductName,
        S.SalePrice,
        PM.MethodName AS PaymentMethod
    FROM Sales S
    JOIN Products P ON S.ProductID = P.ProductID
    JOIN dictPaymentMethods PM ON S.MethodID = PM.MethodID
    JOIN VendingMachines VM ON S.MachineID = VM.MachineID AND VM.IsDeleted = 0
    WHERE S.MachineID = @MachineID
);
GO
/****** Object:  Table [dbo].[dictProductCategories]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictProductCategories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[BuildingName] [nvarchar](100) NULL,
	[Floor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineStock]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineStock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[MinLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockFullInfo]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
   3. Обновление Представлений (Views)
   ============================================= */
CREATE VIEW [dbo].[vw_StockFullInfo]
AS
SELECT        VM.SerialNumber, L.Address, P.Name AS ProductName, PC.CategoryName AS Category, MS.Quantity, MS.MinLevel, CASE WHEN MS.Quantity < MS.MinLevel THEN 'Низкий запас' ELSE 'Норма' END AS StockStatus
FROM            dbo.MachineStock AS MS INNER JOIN
                         dbo.VendingMachines AS VM ON MS.MachineID = VM.MachineID AND VM.IsDeleted = 0 INNER JOIN
                         dbo.Locations AS L ON VM.LocationID = L.LocationID INNER JOIN
                         dbo.Products AS P ON MS.ProductID = P.ProductID INNER JOIN
                         dbo.dictProductCategories AS PC ON P.CategoryID = PC.CategoryID
GO
/****** Object:  View [dbo].[vw_SalesByMachine]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SalesByMachine] AS
SELECT 
    VM.SerialNumber,
    VM.Model,
    COUNT(S.SaleID) AS TotalSales,
    SUM(S.SalePrice) AS TotalRevenue,
    AVG(S.SalePrice) AS AvgPrice
FROM Sales S
JOIN VendingMachines VM ON S.MachineID = VM.MachineID AND VM.IsDeleted = 0
GROUP BY VM.SerialNumber, VM.Model;
GO
/****** Object:  View [dbo].[vw_LowStockAlert]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LowStockAlert] AS
SELECT 
    VM.SerialNumber,
    P.Name AS ProductName,
    MS.Quantity,
    MS.MinLevel,
    (MS.MinLevel - MS.Quantity) AS NeedToLoad
FROM MachineStock MS
JOIN VendingMachines VM ON MS.MachineID = VM.MachineID AND VM.IsDeleted = 0
JOIN Products P ON MS.ProductID = P.ProductID
WHERE MS.Quantity < MS.MinLevel AND VM.StatusID = 1;
GO
/****** Object:  Table [dbo].[dictEmployeeRoles]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictEmployeeRoles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeesRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Login] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestockLogs]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestockLogs](
	[RestockID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[MachineID] [int] NULL,
	[ProductID] [int] NULL,
	[QuantityAdded] [int] NOT NULL,
	[RestockDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLogs]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLogs](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [int] NULL,
	[EmployeeID] [int] NULL,
	[MaintenanceDate] [datetime] NULL,
	[Description] [nvarchar](500) NULL,
	[Cost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeActivity]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 1.4. Активность сотрудников*/
CREATE VIEW [dbo].[vw_EmployeeActivity]
AS
SELECT        E.EmployeeID, E.FullName, ER.RoleName, COUNT(DISTINCT R.RestockID) AS RestocksCount, COUNT(DISTINCT M.MaintenanceID) AS MaintenancesCount, ISNULL(SUM(R.QuantityAdded), 0) AS TotalItemsLoaded
FROM            dbo.Employees AS E LEFT OUTER JOIN
                         dbo.dictEmployeeRoles AS ER ON E.RoleID = ER.RoleID LEFT OUTER JOIN
                         dbo.RestockLogs AS R ON E.EmployeeID = R.EmployeeID LEFT OUTER JOIN
                         dbo.MaintenanceLogs AS M ON E.EmployeeID = M.EmployeeID
GROUP BY E.EmployeeID, E.FullName, ER.RoleName
GO
/****** Object:  View [dbo].[vw_RevenueByLocation]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RevenueByLocation] AS
SELECT 
    L.Address,
    L.BuildingName,
    COUNT(S.SaleID) AS SalesCount,
    SUM(S.SalePrice) AS TotalRevenue
FROM Sales S
JOIN VendingMachines VM ON S.MachineID = VM.MachineID AND VM.IsDeleted = 0
JOIN Locations L ON VM.LocationID = L.LocationID
GROUP BY L.Address, L.BuildingName;
GO
/****** Object:  Table [dbo].[dictMachineStatuses]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictMachineStatuses](
	[StatusID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MachineStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dictEmployeeRoles] ([RoleID], [RoleName]) VALUES (1, N'Админ')
INSERT [dbo].[dictEmployeeRoles] ([RoleID], [RoleName]) VALUES (2, N'Персонал')
INSERT [dbo].[dictEmployeeRoles] ([RoleID], [RoleName]) VALUES (3, N'Техник')
GO
INSERT [dbo].[dictMachineStatuses] ([StatusID], [Status]) VALUES (1, N'Активен')
INSERT [dbo].[dictMachineStatuses] ([StatusID], [Status]) VALUES (2, N'На обслуживании')
INSERT [dbo].[dictMachineStatuses] ([StatusID], [Status]) VALUES (3, N'Неактивен')
GO
INSERT [dbo].[dictPaymentMethods] ([MethodID], [MethodName]) VALUES (1, N'Наличные')
INSERT [dbo].[dictPaymentMethods] ([MethodID], [MethodName]) VALUES (2, N'Безналичная')
INSERT [dbo].[dictPaymentMethods] ([MethodID], [MethodName]) VALUES (3, N'QR-код')
GO
INSERT [dbo].[dictProductCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Кофе')
INSERT [dbo].[dictProductCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Напитки')
INSERT [dbo].[dictProductCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Снеки')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [Login], [RoleID]) VALUES (1, N'Иванов И.И.', N'', N'ivanov', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [Login], [RoleID]) VALUES (2, N'Петров П.П.', NULL, N'petrov', 2)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [Login], [RoleID]) VALUES (3, N'Сидоров С.С.', N'+79990000000', N'sidorov', 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [Address], [BuildingName], [Floor]) VALUES (1, N'ул. Ленина 1', N'Главный ВУЗ', 1)
INSERT [dbo].[Locations] ([LocationID], [Address], [BuildingName], [Floor]) VALUES (2, N'пр. Мира 10', N'БЦ "Офис"', 3)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineStock] ON 

INSERT [dbo].[MachineStock] ([StockID], [MachineID], [ProductID], [Quantity], [MinLevel]) VALUES (1, 1, 1, 0, 5)
INSERT [dbo].[MachineStock] ([StockID], [MachineID], [ProductID], [Quantity], [MinLevel]) VALUES (2, 1, 2, 36, 5)
INSERT [dbo].[MachineStock] ([StockID], [MachineID], [ProductID], [Quantity], [MinLevel]) VALUES (3, 2, 3, 0, 5)
SET IDENTITY_INSERT [dbo].[MachineStock] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] ON 

INSERT [dbo].[MaintenanceLogs] ([MaintenanceID], [MachineID], [EmployeeID], [MaintenanceDate], [Description], [Cost]) VALUES (2, 3, 3, CAST(N'2026-03-24T14:00:00.000' AS DateTime), N'Замена купюроприемника, чистка механизмов', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[MaintenanceLogs] ([MaintenanceID], [MachineID], [EmployeeID], [MaintenanceDate], [Description], [Cost]) VALUES (3, 3, 3, CAST(N'2026-04-21T21:27:45.720' AS DateTime), N'Прочистка труб', CAST(22539.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [BasePrice], [Barcode], [CategoryID]) VALUES (1, N'Эспрессо', CAST(150.00 AS Decimal(10, 2)), 111111, 1)
INSERT [dbo].[Products] ([ProductID], [Name], [BasePrice], [Barcode], [CategoryID]) VALUES (2, N'Капучино', CAST(180.00 AS Decimal(10, 2)), 111112, 1)
INSERT [dbo].[Products] ([ProductID], [Name], [BasePrice], [Barcode], [CategoryID]) VALUES (3, N'Шоколад', CAST(90.00 AS Decimal(10, 2)), 222222, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RestockLogs] ON 

INSERT [dbo].[RestockLogs] ([RestockID], [EmployeeID], [MachineID], [ProductID], [QuantityAdded], [RestockDate]) VALUES (1, 2, 1, 1, 100, CAST(N'2026-03-25T10:27:14.700' AS DateTime))
INSERT [dbo].[RestockLogs] ([RestockID], [EmployeeID], [MachineID], [ProductID], [QuantityAdded], [RestockDate]) VALUES (5, 2, 1, 1, 50, CAST(N'2026-03-20T09:00:00.000' AS DateTime))
INSERT [dbo].[RestockLogs] ([RestockID], [EmployeeID], [MachineID], [ProductID], [QuantityAdded], [RestockDate]) VALUES (6, 2, 2, 3, 30, CAST(N'2026-03-21T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RestockLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [MachineID], [ProductID], [SaleDate], [SalePrice], [MethodID]) VALUES (1, 1, 2, CAST(N'2026-03-25T10:27:14.700' AS DateTime), CAST(180.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Sales] ([SaleID], [MachineID], [ProductID], [SaleDate], [SalePrice], [MethodID]) VALUES (2, 2, 1, CAST(N'2026-03-15T00:15:00.000' AS DateTime), CAST(120.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Sales] ([SaleID], [MachineID], [ProductID], [SaleDate], [SalePrice], [MethodID]) VALUES (3, 2, 6, CAST(N'2026-03-15T00:30:00.000' AS DateTime), CAST(197.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[VendingMachines] ON 

INSERT [dbo].[VendingMachines] ([MachineID], [SerialNumber], [Model], [LocationID], [InstallDate], [StatusID], [IsDeleted]) VALUES (1, N'VM-001', N'CoffeeMaster 3000', 1, CAST(N'2023-01-15' AS Date), 1, 0)
INSERT [dbo].[VendingMachines] ([MachineID], [SerialNumber], [Model], [LocationID], [InstallDate], [StatusID], [IsDeleted]) VALUES (2, N'VM-002', N'SnackBox Pro', 1, CAST(N'2023-02-20' AS Date), 1, 0)
INSERT [dbo].[VendingMachines] ([MachineID], [SerialNumber], [Model], [LocationID], [InstallDate], [StatusID], [IsDeleted]) VALUES (3, N'VM-003', N'CoffeeMaster 3000', 2, CAST(N'2023-03-10' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[VendingMachines] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5E55825B24E53379]    Script Date: 21.04.2026 21:51:47 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Machine_Product]    Script Date: 21.04.2026 21:51:47 ******/
ALTER TABLE [dbo].[MachineStock] ADD  CONSTRAINT [UQ_Machine_Product] UNIQUE NONCLUSTERED 
(
	[MachineID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MachineStock_Machine_Product]    Script Date: 21.04.2026 21:51:47 ******/
ALTER TABLE [dbo].[MachineStock] ADD  CONSTRAINT [UQ_MachineStock_Machine_Product] UNIQUE NONCLUSTERED 
(
	[MachineID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sales_MID]    Script Date: 21.04.2026 21:51:47 ******/
CREATE NONCLUSTERED INDEX [IX_Sales_MID] ON [dbo].[Sales]
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sales_PID]    Script Date: 21.04.2026 21:51:47 ******/
CREATE NONCLUSTERED INDEX [IX_Sales_PID] ON [dbo].[Sales]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VendingM__048A00081C1C4785]    Script Date: 21.04.2026 21:51:47 ******/
ALTER TABLE [dbo].[VendingMachines] ADD  CONSTRAINT [UQ__VendingM__048A00081C1C4785] UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineStock] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[MachineStock] ADD  DEFAULT ((5)) FOR [MinLevel]
GO
ALTER TABLE [dbo].[MaintenanceLogs] ADD  DEFAULT (getdate()) FOR [MaintenanceDate]
GO
ALTER TABLE [dbo].[MaintenanceLogs] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[RestockLogs] ADD  DEFAULT (getdate()) FOR [RestockDate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF__Sales__SaleDate__4D94879B]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[VendingMachines] ADD  CONSTRAINT [DF_VendingMachines_StatusID]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[VendingMachines] ADD  CONSTRAINT [DF_VendingMachines_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[dictEmployeeRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
ALTER TABLE [dbo].[MachineStock]  WITH CHECK ADD  CONSTRAINT [FK__MachineSt__Machi__70DDC3D8] FOREIGN KEY([MachineID])
REFERENCES [dbo].[VendingMachines] ([MachineID])
GO
ALTER TABLE [dbo].[MachineStock] CHECK CONSTRAINT [FK__MachineSt__Machi__70DDC3D8]
GO
ALTER TABLE [dbo].[MachineStock]  WITH CHECK ADD  CONSTRAINT [FK__MachineSt__Produ__4316F928] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[MachineStock] CHECK CONSTRAINT [FK__MachineSt__Produ__4316F928]
GO
ALTER TABLE [dbo].[MaintenanceLogs]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[MaintenanceLogs]  WITH CHECK ADD  CONSTRAINT [FK__Maintenan__Machi__73BA3083] FOREIGN KEY([MachineID])
REFERENCES [dbo].[VendingMachines] ([MachineID])
GO
ALTER TABLE [dbo].[MaintenanceLogs] CHECK CONSTRAINT [FK__Maintenan__Machi__73BA3083]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[dictProductCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[RestockLogs]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RestockLogs]  WITH CHECK ADD  CONSTRAINT [FK__RestockLo__Machi__76969D2E] FOREIGN KEY([MachineID])
REFERENCES [dbo].[VendingMachines] ([MachineID])
GO
ALTER TABLE [dbo].[RestockLogs] CHECK CONSTRAINT [FK__RestockLo__Machi__76969D2E]
GO
ALTER TABLE [dbo].[RestockLogs]  WITH CHECK ADD  CONSTRAINT [FK__RestockLo__Produ__52593CB8] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[RestockLogs] CHECK CONSTRAINT [FK__RestockLo__Produ__52593CB8]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK__Sales__MachineID__4BAC3F29] FOREIGN KEY([MachineID])
REFERENCES [dbo].[VendingMachines] ([MachineID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK__Sales__MachineID__4BAC3F29]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK__Sales__ProductID__4CA06362] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK__Sales__ProductID__4CA06362]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentMethods] FOREIGN KEY([MethodID])
REFERENCES [dbo].[dictPaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentMethods]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK__VendingMa__Locat__7B5B524B] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK__VendingMa__Locat__7B5B524B]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[dictMachineStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Statuses]
GO
ALTER TABLE [dbo].[MachineStock]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK__Products__BasePr__3E52440B] CHECK  (([BasePrice]>(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK__Products__BasePr__3E52440B]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddVendingMachine]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
   4. Обновление Хранимых Процедур
   ============================================= */
CREATE PROCEDURE [dbo].[sp_AddVendingMachine]
    @SerialNumber NVARCHAR(50),
    @Model NVARCHAR(100),
    @LocationID INT,
    @InstallDate DATE = NULL
AS
BEGIN
    -- Проверка на дубликат только среди активных автоматов
    IF EXISTS (SELECT 1 FROM VendingMachines WHERE SerialNumber = @SerialNumber AND IsDeleted = 0)
    BEGIN
        RAISERROR('Автомат с таким серийным номером уже существует', 16, 1);
        RETURN;
    END

    IF @InstallDate IS NULL SET @InstallDate = GETDATE();
    
    INSERT INTO VendingMachines (SerialNumber, Model, LocationID, InstallDate, IsDeleted)
    VALUES (@SerialNumber, @Model, @LocationID, @InstallDate, 0);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LogMaintenance]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LogMaintenance]
    @MachineID INT,
    @EmployeeID INT,
    @Description NVARCHAR(500),
    @Cost DECIMAL(10,2) = 0
AS
BEGIN
    -- Проверка: автомат существует и не удален
    IF NOT EXISTS (SELECT 1 FROM VendingMachines WHERE MachineID = @MachineID AND IsDeleted = 0)
    BEGIN
        RAISERROR('Автомат не найден или удален', 16, 1);
        RETURN;
    END

    INSERT INTO MaintenanceLogs (MachineID, EmployeeID, Description, Cost)
    VALUES (@MachineID, @EmployeeID, @Description, @Cost);
    
    UPDATE VendingMachines 
    SET StatusID = 1 
    WHERE MachineID = @MachineID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterSale]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterSale]
    @MachineID INT,
    @ProductID INT,
    @MethodID INT = 2
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Проверка: автомат существует и не удален
    IF NOT EXISTS (SELECT 1 FROM VendingMachines WHERE MachineID = @MachineID AND IsDeleted = 0)
    BEGIN
        RAISERROR('Автомат не найден или удален', 16, 1);
        RETURN;
    END

    DECLARE @CurrentStock INT;
    DECLARE @Price DECIMAL(10,2);
    
    SELECT @CurrentStock = MS.Quantity, @Price = P.BasePrice 
    FROM MachineStock MS
    JOIN Products P ON MS.ProductID = P.ProductID
    WHERE MS.MachineID = @MachineID AND MS.ProductID = @ProductID;
    
    IF @CurrentStock IS NULL
    BEGIN
        RAISERROR('Товар не найден в этом автомате', 16, 1);
        RETURN;
    END
    
    IF @CurrentStock <= 0
    BEGIN
        RAISERROR('Товар закончился', 16, 1);
        RETURN;
    END
    
    IF NOT EXISTS (SELECT 1 FROM dictPaymentMethods WHERE MethodID = @MethodID)
    BEGIN
        RAISERROR('Неверный метод оплаты', 16, 1);
        RETURN;
    END

    INSERT INTO Sales (MachineID, ProductID, SalePrice, MethodID)
    VALUES (@MachineID, @ProductID, @Price, @MethodID);
    
    UPDATE MachineStock 
    SET Quantity = Quantity - 1 
    WHERE MachineID = @MachineID AND ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RestockMachine]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RestockMachine]
    @EmployeeID INT,
    @MachineID INT,
    @ProductID INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Проверка: автомат существует и не удален
    IF NOT EXISTS (SELECT 1 FROM VendingMachines WHERE MachineID = @MachineID AND IsDeleted = 0)
    BEGIN
        RAISERROR('Автомат не найден или удален', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM MachineStock WHERE MachineID = @MachineID AND ProductID = @ProductID)
    BEGIN
        INSERT INTO MachineStock (MachineID, ProductID, Quantity)
        VALUES (@MachineID, @ProductID, @Quantity);
    END
    ELSE
    BEGIN
        UPDATE MachineStock 
        SET Quantity = Quantity + @Quantity 
        WHERE MachineID = @MachineID AND ProductID = @ProductID;
    END
    
    INSERT INTO RestockLogs (EmployeeID, MachineID, ProductID, QuantityAdded)
    VALUES (@EmployeeID, @MachineID, @ProductID, @Quantity);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SalesReport]    Script Date: 21.04.2026 21:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SalesReport]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        CONVERT(DATE, S.SaleDate) AS SaleDate,
        COUNT(*) AS Transactions,
        SUM(S.SalePrice) AS Revenue
    FROM Sales S
    JOIN VendingMachines VM ON S.MachineID = VM.MachineID AND VM.IsDeleted = 0
    WHERE S.SaleDate BETWEEN @StartDate AND @EndDate
    GROUP BY CONVERT(DATE, S.SaleDate)
    ORDER BY SaleDate;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "E"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "R"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 136
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "M"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ER"
            Begin Extent = 
               Top = 6
               Left = 494
               Bottom = 102
               Right = 684
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_EmployeeActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_EmployeeActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VM"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 136
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "L"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "P"
            Begin Extent = 
               Top = 138
               Left = 250
               Bottom = 268
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PC"
            Begin Extent = 
               Top = 6
               Left = 462
               Bottom = 102
               Right = 636
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_StockFullInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_StockFullInfo'
GO
USE [master]
GO
